<div>
    <nav class="menu">
        <img src="/assets/Logo.jpg" class="logo">
        <li style="margin-left: -60cqmax; list-style: none; position: relative;">Supriya Mohan</li>
        <ul>
            <!-- <div routerLink="/">Home</div> -->
            <!-- <li><a [routerLink]="['/']"  class="active">Home</a></li>
            <li><a [routerLink]="['/about']" class="active">About Me</a></li>
            <li><a [routerLink]="['/experience']" class="active">Services</a></li>
            <li><a [routerLink]="['/contact']" class="active">Contact</a></li> -->
            <li><a href="#home">Home</a></li>
            <li><a href="#aboutMe">About Me</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</div>
<app-home id="home"></app-home>
<div>&nbsp;</div>
<app-about id="aboutMe"></app-about>
<app-service></app-service>
<app-contact-me id="contact"></app-contact-me>
<!-- <app-home *ngIf="router.url == '/home' || router.url == '/'"></app-home> -->