/* p {
    color: white;
} */

.container {
    padding: 1%;
    margin: 5%;
    font-size: medium;
}

span {
    color: rgb(8, 61, 184);
}

.tab-titles {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10%;
    z-index: 1;
    /* margin-right: 10%; */
    padding-right: 10%;
    /* gap: 3px;
    justify-content: space-around; */
}

div a {
    cursor: pointer;
    text-decoration: none;
    position: relative;
}
.tab-links{
    border: 1px solid white;
    background-image: linear-gradient(ghostwhite, lightblue, rgb(9, 72, 207));
    color: black;
    width: 99px;
    border-radius: 5%;
    padding: 5px;
}

div p::after {
    content: '';
    width: 0;
    height: 3px;
    /* background: navy; */
    position: absolute;
    left: 0;
    margin-top: 2px;
    bottom: -5px;
    /* transition: 0.5s; */
}

div p:hover::after {
    width: 100%;
}

.tab-links {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links.active::after {
    width: 100%;
}

/* .tabs {
    cursor: pointer;
    font-weight: 500;
    position: relative;
}
.tabs::after {
    content: '';
    background: whitesmoke;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    bottom: -8px;
    transition: 0.5s;
} */

/* .tabs:active{
     text-decoration: brown;
    transition: 0.5s;
} 
.tabs.links::after {
    width: 50%;
}*/
.tab-contents ul li{
    list-style-type: none;
    /* margin: 10px 0; */
    margin-left: -3%;
    /* margin: 0 auto; */
    z-index: 2;
    /* position: absolute; */
}
/* .tab-contents{
    display: none;
}
.tab-contents.show-tab{
    display: block;
} */
.titles {
    cursor: pointer;
}

.titles::after {
    background-color: chocolate;
    height: 2px;
    width: 5%;
    /* position: absolute;
    left:0; */
    /* bottom: 0; */
}

.list-Details {
    list-style: none;
    justify-content: space-around;
}

