<div class="container">
    <h2>About <span>Supriya</span></h2>
    <p> I am a <Span>frontend developer</Span> passionate about crafting immersive digital experiences that blend
        creativity with functionality.

        <!-- With a Master's in General Management and Bachelor's degree in Computer Science.  -->
        Also, with three years of
        hands-on experience in frontend development, I specialize in building user-friendly interfaces and interactive
        web applications.
        From responsive layouts to seamless animations, I thrive on turning ideas into pixel-perfect designs that engage
        and delight
        users.
        <br><br>
        I'm fluent in HTML, CSS, JavaScript, and Angular framework. Whether it's optimizing performance, ensuring
        cross-browser compatibility, or implementing accessible design principles, I'm committed to delivering solutions
        that not only
        meet but exceed client expectations.
        <!-- <br><br> -->
        <!-- My approach to development is rooted in collaboration and communication. I enjoy working closely with designers,
        backend developers, and stakeholders to bring concepts to life and achieve project goals efficiently and
        effectively.

        When I'm not coding, you'll find me exploring new frameworks. I'm driven by a desire to push boundaries, solve
        complex problems, and create meaningful experiences that make a difference in people's lives. -->
        <!-- <br><br> -->
        <!-- If you're looking for a frontend developer who's not only skilled but also passionate about their craft, I'd
        love to chat about how we can collaborate on your next project. Let's build something awesome together! -->
    </p>
    <div>&nbsp;</div>
    <div>
        <p class="data-tab">Experience</p>
        <ul>
            <li><span>HCLTech - Senior Analyst 2021 to present</span><br>Being consistentlty developing different application also providing them
            to client without delay. Solving issues to make the application work faster.</li>
        </ul>
    </div>
    <div>
        <p class="data-tab">Skills</p>
        <ul>
            <li><span>UI/UX</span><br>Designing Web/App Interfaces</li>
            <li><span>Languages Used</span><br>Angular, HTML, CSS, JavaScript</li>
            <li><span>Web/Application Development</span></li>
        </ul>
    </div>
    <div>
        <p class="data-tab">Education</p>
        <ul>
            <li><span>2023 - 2021</span><br>Master of Adminstartion - General</li>
            <li><span>2020 - 2016</span><br>Bachelor Of Engineering - Computer Science and Engineering</li>
        </ul>
    </div>
    <!-- <div class="tab-titles">
        <p class="tab-links active" (change)="showContent('skills')">Skills</p>
        <p class="tab-links" (change)="showContent('experience')">Experience</p>
        <p class="tab-links" (click)="showContent('education')">Education</p>
    </div> -->
    <!-- <div class="tab-contents show-tab" *ngIf="showSkills">
        <ul>
            <li><span>UI/UX</span><br>Designing Web/App Interfaces</li>
            <li><span>Languages Used</span><br>Angular, HTML, CSS, JavaScript</li>
            <li><span>Web/Application Development</span></li>
        </ul>
    </div>
    <div class="tab-contents" *ngIf="showExperience">
        <ul>
            <li><span>Senior Analyst</span><br>HCLTech</li>
        </ul>
    </div>
    <div class="tab-contents" *ngIf="showEducation">
        <ul>
            <li><span>2023 - 2021</span><br>Master of Adminstartion - General</li>
            <li><span>2020 - 2016</span><br>Bachelor Of Engineering - Computer Science and Engineering</li>
        </ul>
    </div> -->
</div>