.container {
    justify-content: flex-start;
    margin: 5%;
    margin-top: 1%;
}

.service {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10%;
    margin-top: 0%;
    /* padding: 1%; */
    /* grid-column: 12%; */
}

#heading {
    font-weight: 500;
}

.service-content {
    /* display: grid;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    grid-row: auto; */
    /* margin: 2%; */
    padding: 4%;
    border: 1px solid rgb(8, 61, 184);
    color: rgb(8, 61, 184);
    ;
    background-color: white;
    width: 100%;
    height: 100%;
    font-size: large;
    /* border-radius: 15%; */
}

.service-content:hover {
    padding: 4%;
    border: 1px solid beige;
    color: white;
    background-color: cornflowerblue;
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* border-radius: 10%; */
}

p {
    word-break: break-all;
}

.service-para {
    color: black;
    font-size: medium;
    text-align: justify;
}
@media only screen and (max-width: 600px) {
    .service {
        display: flex;
        grid-template-columns: auto;
        column-gap: 5%;
        margin-top: 0%;
        /* padding: 1%; */
        /* grid-column: 12%; */
    }
    .container{
        margin:0;
    }
    .service-content {
        padding: 1vw;
        border: 1px solid rgb(8, 61, 184);
        color: rgb(8, 61, 184);
        background-color: white;
        width: 100%;
        height: 100%;
        font-size: small;
        /* border-radius: 15%; */
    }
    .service-content:hover {
        padding: 1vw;
        border: 1px solid beige;
        color: white;
        background-color: cornflowerblue;
        width: 100%;
        height: 100%;
        font-size: small;
        cursor: pointer;
        /* border-radius: 10%; */
    }
}