<div class="container">
    <h2>My Services</h2>
    <p>&nbsp;</p>
    <div class="service">
        <div class="service-content">
            <p>Front-end Developer</p>
            <p class="service-para">Design and implement user interfaces using technologies like angular, HTML, CSS, JavaScript. Ensuring UI is 
                virtually appealing and responsive across different device.
            </p>
        </div>
        <div class="service-content">
            <p>UI/UX Development</p>
            <p class="service-para">Creating wireframes and prototypes to visualize the structure and layout of the user interface.
                Designing the visual elements of the UI, including color schemes, typography, icons, and graphics. 
            </p>
        </div>
        <div class="service-content">
            <p>Web/App Development</p>
            <p class="service-para">Creating software applications that enable users to perform specific tasks or access
                 information through web browsers or mobile devices.</p>
        </div>
    </div>
</div>