<div class="personalInfo">
    <!-- <ul class="list-Details">
        <li>NAME    &nbsp;: Supriya Mohan</li>
        <li>AGE     &nbsp;: 25</li>
        <li>ADDRESS &nbsp;: Chennai</li>
        <li>EMAIL   &nbsp;: <a href="mailto:supriyamohan98@gmail.com">{{mailId}}</a></li>
        <li>PHONE NUMBER &nbsp;: +91-9092086155</li>
    </ul> -->
    <!-- <button type="file" (click)="dowloadResume()"> Resume</button> -->
    <h2>Contact Me</h2>
    <div>
        <p><i class="fa fa-envelope-o"></i>{{mailId}}</p>
        <p><i class="fa fa-phone"></i>+91 9092086155</p>
    </div>
    <p>&nbsp;</p>
    <!-- <p>To know more about my professional experience, please download my resume for further clarification </p> -->
    <a href="assets/Supriya_MohanCV.pdf" ng-href="assets/Supriya_MohanCV.pdf" target="_blank" class="resume">Download
        Resume</a>
    <a href="assets/SupriyaCL.pdf" ng-href="assets/SupriyaCL.pdf" target="_blank" class="resume">Download Cover Letter</a>
    <div>&nbsp;</div>
    <p align="center">Copyrights &nbsp;<img src="assets/heartRED.jpg">{{at}} Supriya</p>
    <!-- <i class="fab fa-twitter"></i> -->
</div>