.resume {
    width: 60%;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    background-color: cornflowerblue;
    height: 50px;
    text-decoration: none;
    padding: 8px;
    margin-left: 3.5%;
}

.resume:hover {
    width: 60%;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    color: cornflowerblue;
    background-color: white;
    height: 50px;
    text-decoration: none;
    padding: 8px;
    margin-left: 3.5%;
}

p {
    margin-left: 3.5%;
}

li {
    list-style: none;
    /* padding: 1%; */
}

.personalInfo {
    margin: 5%;
    margin-top: 0%;
}

img {
    font-size: 4px;
    width: 28px;
    height: 14px;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: small;
    }

    .resume,
    p {
        margin-left: 3vw;
        text-align: center;
    }

    .resume:hover {
        margin-left: 1vw;
    }

    .personalInfo {
        margin: 0%;
    }

    i {
        margin-left: 0;
    }
}