.resume {
    width: 50%;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    background-color: cornflowerblue;
    height: 50px;
    text-decoration: none;
    padding: 8px;
    margin-left: 3.5%;
}

p {
    margin-left: 3.5%;
}

li {
    list-style: none;
    /* padding: 1%; */
}

.personalInfo {
    margin: 5%;
    margin-top: 0%;
}

img {
    font-size: 4px;
    width: 20px;
    height: 10px;
    border-radius: 10px;
}