<div>
    <nav class="menu">
    <div class="brand">
        <img src="/assets/Logo.jpg" class="logo">
        <span id="name-title">Supriya Mohan</span>
    </div>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#aboutMe">About Me</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>

</div>
<app-home id="home"></app-home>
<app-about id="aboutMe"></app-about>
<app-service id="services"></app-service>
<app-contact-me id="contact"></app-contact-me>