<body>
    <!-- <img src="/assets/BlueWhite.webp" class="bgPic"> -->
    <div class="container">
        <img src="/assets/WallPic.png" class="MyPicture">
        <div>
            <h2 class="header-text">
                <!-- <i class="fa-brands fa-linkedin"></i> -->
                <!-- <p>FrontEnd Developer</p> -->
                Hi!<br> I AM <span>SUPRIYA</span><br>FRONTEND DEVELOPER
                <!-- <a href=""><i class="fa-regular fa-linkedin"></i></a>
                <i class="fa-regular fa-envelope"></i> -->
            </h2>
            <p>My aim is to create a better user interfaces and experiences.<br> Making the web applications easier to
                use.
            </p>
            <p>Check Out My
            </p>
            <p> <a href="https://www.linkedin.com/in/supriya-mohan-504435181/" target="_blank"><img
                        src="/assets/linkedIN.jpg" class="smallLogo"></a>&nbsp;
                <a href="mailto:supriyamohan98@gmail.com"><img src="/assets/gmail.webp" target="_blank"
                        class="smallLogo"></a>&nbsp;
                <a href="https://www.instagram.com" matTooltip="__supriya_30" target="_blank"><img
                        src="/assets/Instagram.png" class="smallLogo"></a>
            </p>
            <!-- <button type="submit">Let's Talk</button> -->
        </div>
    </div>
</body>